// @import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  //   --glow-color: hsl(289 100% 69%);
  --glow-color: hsl(312 73.5% 61.6%);
}

.glowing-navlink {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  //   perspective: 2em;
  // font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.25em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  text-decoration: none;
}

.glowing-navlink::after {
  content: ' ';
  margin-right: -0.25em;
}

.glowing-navlink:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: var(--glow-color);
  text-shadow: none;
  animation: none;
  border: 0.15em solid var(--glow-color);
}

.glowing-navlink:hover::before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-navlink:hover::after {
  opacity: 1;
}

.glowing-navlink {
  outline: none;
}

.glowing-navlink:focus {
  outline: none;
  border-color: var(--glow-color);
}

.glowing-navlink-text {
  text-transform: uppercase;
}

.glowing-navlink-text:hover {
  float: left;
  margin-right: -0.25em;
  //   -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
  //     0 0 0.45em var(--glow-color);
  //   -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
  //     0 0 0.45em var(--glow-color);
  //   text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker-navlink 5s linear infinite;
}

.active,
.active:hover,
.active .glowing-navlink:hover,
.active .glowing-navlink-text {
  background-color: var(--glow-color);
  color: rgba(0, 0, 0, 0.8);
  animation: none;
}

@keyframes text-flicker-navlink {
  0% {
    opacity: 1;
  }

  2% {
    opacity: 0.75;
  }

  8% {
    opacity: 0.3;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
