.Footer {
  text-align: center;
  padding: 2rem;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: var(--glow-color);
  text-transform: uppercase;

  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
}

.Footer::after {
  content: ' ';
  margin-right: -0.2em;
}
